:root {
    --main-bg: white;
    --secondary-bg: rgb(250, 250, 250);
    --main-color: rgb(33, 37, 41);
    --secondary-color: rgba(0, 0, 0, 0.5);
    --saturate: saturate(100%);
}

:root.dark-mode {
    --main-bg: rgb(20, 20, 20);
    --secondary-bg: rgb(25, 25, 25);
    --main-color: rgb(231, 231, 231);
    --secondary-color: rgba(255, 255, 255, 0.3);
    --saturate: saturate(50%);
}

.main-bg {
    background-color: var(--main-bg);
}

.secondary-bg {
    background-color: var(--secondary-bg);
}

.main-color {
    color: var(--main-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.intro {
    background: url(bg-image.svg);
    background-size: cover;
    background-position: 0% 56%;
    background-repeat: no-repeat;
    filter: var(--saturate);
}

.alert {
    animation: alert 0.8s 1 cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.alert:hover{
    transform: scale(1.3);
}

@keyframes alert {
    100% {
        transform: scale(1.1) rotate(360deg);
    }
}

.mode-icon{
    color: #aba7f7; 
    font-size: 1.8rem; 
    cursor: pointer;
}

.mode-icon.fa-sun{
    color: #ffe600;
}